
<% @pending_requests.each do |u| %>
<div class="span5 navbar-inner">
<%=link_to u.friend.email %>
<div class="pull-right">
<%= link_to '[Accept]', friendlist_path(:id => u.friend_id), :method => :put, :confirm => 'Accept friend request! Are you sure?' %> |
<%= link_to '[Reject]', friendlist_path(:id => u.friend_id), :method => :delete, :confirm => 'Reject friend request! Are you sure?' %>
</div>
</div>
<% end %>
