
<% @requested_friends.each do |u| %>
<div class="span5 navbar-inner">
<%=link_to u.friend.email, {:action => "show", :controller => "users", :id => u.friend_id } %>
<div class="pull-right">
<%= link_to '[Cancel]', friendlist_path(:id => u.friend_id), :method => :delete, :confirm => 'Are you sure?' %>
</div>
</div>
<% end %>
