
<div class="span11  well well-small">
    <%=image_tag @comment.user.profile.photo.image.small.url %>
      <strong><%= @comment.user.profile.first_name %>:</strong>
    <%= @comment.comment %><br>
</div>
